.register-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-container h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-container .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .register-container .success {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .register-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .register-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .register-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .register-container button {
    padding: 10px 20px;
    background-color: #2D7068;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .register-container button:hover {
    background-color: #879b77;
  }
  